@import "tailwindcss";

@theme {
  --color-ultraviolet: #8133F6;
  --color-mint: #3BDAD1;
  --color-cream: #F4EBD4;
  --color-deep-purple: #3C1166;
  --color-peach: #FFDFB9;
  --color-black: #000000;
  --color-white: #FDFDFD;
  
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #FDFDFD;
  --foreground: #3C1166;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

